{
  "input": {
    "sirc": { "address": "0x10", "command": "0x12" },
    "repeat": 3,
    "switch_delay_s": 0.5
  },
  "volume_up": {
    "sirc": { "address": "0x10", "command": "0x00" },
    "repeat": 3
  },
  "volume_down": {
    "sirc": { "address": "0x10", "command": "0x00" },
    "repeat": 3
  }
}
